body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-background {
  background: #ffffff8a;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  z-index: 100;
}

.loader {
  border: 16px solid #f3f3f3;
      border-top-color: rgb(243, 243, 243);
      border-top-style: solid;
      border-top-width: 16px;
      border-right-color: rgb(243, 243, 243);
      border-right-style: solid;
      border-right-width: 16px;
      border-bottom-color: rgb(243, 243, 243);
      border-bottom-style: solid;
      border-bottom-width: 16px;
      border-left-color: rgb(243, 243, 243);
      border-left-style: solid;
      border-left-width: 16px;
  border-radius: 50%;
  border-top: 16px solid #1c1ce1;
  border-right: 16px solid #1c1ce1;
  border-bottom: 16px solid #1c1ce1;
  border-left: 16px solid #a4aeff;
  width: 120px;
  height: 120px;
  animation: spin 1.4s linear infinite;
  margin: 0 auto;
      margin-bottom: 0px;
  margin-top: 5%;
}

.flexy {
  padding: 10%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.App {
  text-align: center;
}

div[class*=pipeline-select]>div{
  border-color: hsl(0, 0%, 80%)!important;
  border-radius: 4px!important;
  border-style: solid!important;
  box-shadow: none !important;
  border-width: 1px !important;
  position: relative !important;
  margin-bottom: .5rem;
}

div#react-select-7-option-0:active, div#react-select-7-option-1:active, div#react-select-3-option-0:active,div#react-select-5-option-0:active,div#react-select-5-option-1:active,div#react-select-5-option-2:active,div#react-select-5-option-3:active,div#react-select-5-option-4:active,div#react-select-5-option-5:active,div#react-select-9-option-0:active,div#react-select-9-option-1:active,div#react-select-9-option-2:active,div#react-select-9-option-3:active {
  background-color: #d1d1fa !important;
  margin-top: 0px;
  font-weight: 600;
  border: none;
  font-size: 1em;
  color: rgb(51, 54, 61);
  
}

div[class*=pipeline-select]>div:hover{
  color: rgb(28, 28, 225)!important;
    border: 1px solid rgb(28, 28, 225)!important;
    box-shadow: rgb(210 210 249) 4px 4px 0px 0px!important;
    background-color: #fff;
}

.pipeline-algoaddress {
  box-shadow: none !important;
}

.pipeline-btn-solid {
  background-color: #1c1ce1;
  color: #fff!important;
  display: inline-block;
  white-space: pre-wrap;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  height: 3rem;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.furby {
  background-color: #1c1ce1;
  color: #fff!important;
  display: inline-block;
  white-space: pre-wrap;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  height: 3rem;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem !important;
  font-weight: 400 !important;
}


.pipeline-algoaddress {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem !important;
}

.pipeline-btn-solid:active, .furby:active {
  background-color: #1616b4 !important;
  --contrast-color: #1616b4 !important;
  --main-color: #1616b4 !important;
  box-shadow: 4px 4px 0 0 rgb(210 210 249)!important;
}

.btn-outlinez{
background-color: hsla(0,0%,100%,0)!important;
--contrast-color: hsla(0,0%,100%,0)!important;
--main-color: hsla(0,0%,100%,0)!important;
    height: 3rem;
    color: #333 !important;
    border: 1px solid #333 !important;
    box-shadow: none !important;
    border-radius: 6px;
    cursor: pointer;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 100%;
    font-size: 1rem!important;
    font-weight: 400!important;
}

.pipeline-input,.pipeline-algoaddress {
  box-shadow: none !important;
  margin-bottom: 1.6rem;
  width: 100%;
}

.pipeline-input,.pipeline-algoaddress {
  box-shadow: none !important;
  margin-bottom: 1.6rem;
}

.pipeline-input{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1.5rem;
    font-weight: 400;
    text-indent: 0.3rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f8f9 !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    font-family: monospace !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pipeline-input:hover{
  background-color: #fff!important;
}
.pipeline-input:focus{
  color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #1c1ce1 !important;
    box-shadow: 4px 4px 0 0 rgb(210 210 249) !important;
    outline: 0 !important;
}

.btn-outlinez:hover {
  color: #1c1ce1 !important;
  border: 1px solid #1c1ce1 !important;
  box-shadow: 4px 4px 0 0 rgb(210 210 249)!important;
}

.btn-outlinez:active{
background-color: #e5e5e5 !important;
}

.pipeline-btn-solid:hover, .furby:hover {
  background-color: rgba(28,28,225,.8)!important;
  box-shadow: 4px 4px 0 0 rgb(210 210 249)!important;
}

.pipeline-btn-solid:active, .furby:active {
  background-color: #1616b4 !important;
}

div[class*=pipeline-select]>div:active {
  color: rgb(28, 28, 225)!important;
  border: 1px solid rgb(28, 28, 225)!important;
  box-shadow: rgb(210 210 249) 4px 4px 0px 0px!important;
  background-color: rgb(242 242 242);
}


div#react-select-7-option-0:hover, div#react-select-7-option-1:hover, div#react-select-3-option-0:hover,div#react-select-5-option-0:hover,div#react-select-5-option-1:hover,div#react-select-5-option-2:hover,div#react-select-5-option-3:hover,div#react-select-5-option-4:hover,div#react-select-5-option-5:hover,div#react-select-9-option-0:hover,div#react-select-9-option-1:hover,div#react-select-9-option-2:hover,div#react-select-9-option-3:hover {
  background-color: #e2e2fb;
  margin-top: 0px;
  font-weight: 600;
  border: none;
  font-size: 1em;
  color: rgb(51, 54, 61);
  
}

h2 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(229, 229, 229);
  font-family: "Source Sans Pro", -apple-system, sans-serif;
  color: rgb(63, 61, 75);
  box-sizing: border-box;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.25;
}

td.module-right {
  padding-left: 1rem;
  max-width: 50vh;
}

td.module-left {
  padding-right: 1rem;
  max-width: 50vh;
}

input {
  box-shadow: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  font-family: monospace !important;
}

h1   { 
  text-transform: uppercase;
font-family: "Source Sans Pro", -apple-system, sans-serif;
color: rgb(63, 61, 75);
box-sizing: border-box;
font-size: 40px;
font-weight: 600;
line-height: 1.25;
}

p {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Source Sans Pro", -apple-system, sans-serif;
  color: rgb(63, 61, 75);
}

:root{
  overflow: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pipeline-shell{
  box-shadow: none !important;
  border-radius: 0px !important;
  padding-right: 2rem;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%), 4px 4px 0 0 rgb(210 210 249);
  border-radius: 10px;
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;
  overflow: hidden;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-style: solid;
  border-color: #1c1ce1;
}

.selectorbox {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar:scroll


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

code {
  max-width: 200px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea {
  padding-top: 1rem;
  text-indent: 1rem;
  border-radius: 4px;
}

.prop-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgb(63, 61, 75);
  font-family: "Source Sans Pro", -apple-system, sans-serif;
}

@media (max-width: 900px){
  td.module-left {
    padding-right: 1rem;
    max-width: 40vh !important;
}
}

@media (max-width: 720px){
  td.module-left {
    padding-right: unset;
    max-width: 100vh !important;
}
td.module-right {
  padding-left: unset;
  max-width: 100vh;
}
}

@media (max-width: 720px){
  .breakpoint-1 {
    display: flex !important;
    flex-direction: column;
}
:root {
  margin: 0px;
  padding: 3% !important;
}
h1.bolierplate-h1 {
  font-size: 35px;
}
svg#Capa_1 {
  width: 65px;
}
h2.bolierplate-h2 {
  font-size: 22px;
}
h2.bolierplate-h2-1 {
  font-size: 22px;
}
.app {
  padding: 1rem;
}
}

@media (max-width: 720px){
  td.module-left {
    padding-right: unset;
    max-width: 100vh !important;
}
td.module-right {
  padding-left: unset;
  max-width: 100vh;
}
}

@media (max-width: 530px){

h1.bolierplate-h1 {
  font-size: 30px;
}
svg#Capa_1 {
  width: 60px;
}
h2.bolierplate-h2 {
  font-size: 18px;
}
h2.bolierplate-h2-1 {
  font-size: 18px;
}
}

@media (max-width: 365px){
  svg#Capa_1 {
      width: 30px !important;
      height: 30px;
      padding-left: 10px !important;
      padding-right: 10px !important;
  }
  
  h2.bolierplate-h2 {
    font-size: 12px !important;
  }
  
  h2.bolierplate-h2-1 {
    font-size: 12px !important;
  }
  
  h1.bolierplate-h1{
    font-size: 22px !important;
  }
  }

@media (max-width: 440px){
svg#Capa_1 {
    width: 40px;
    height: 40px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

h2.bolierplate-h2 {
  font-size: 14px;
}

h2.bolierplate-h2-1 {
  font-size: 14px;
}

h1.bolierplate-h1{
  font-size: 26px;
}
}

@media (max-width: 1000px){
:root {
  margin: 0px;
  padding: 5%;
}
}

h1.bolierplate-h1 {
  color: #fff;
}

.boiler-h1 {
  display: flex;
  justify-content: space-between;
}

h2.bolierplate-h2 {
  border: 0px;
  text-transform: none !important;
  text-align: right;
  font-weight: 400;
}

.flexible-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #1c1ce1;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #1c1ce1;
}

svg#Capa_1 {
  padding-left: 20px;
  padding-right: 20px;
}

.boiler-border {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-top: 30px;
}

h1.boiler-h1-2 {
  font-size: 2.1rem;
  padding-top: 0.5rem;
}

h2.bolierplate-h2-1 {
  border-style: none;
}