body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-background {
  background: #ffffff8a;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  z-index: 100;
}

.loader {
  border: 16px solid #f3f3f3;
      border-top-color: rgb(243, 243, 243);
      border-top-style: solid;
      border-top-width: 16px;
      border-right-color: rgb(243, 243, 243);
      border-right-style: solid;
      border-right-width: 16px;
      border-bottom-color: rgb(243, 243, 243);
      border-bottom-style: solid;
      border-bottom-width: 16px;
      border-left-color: rgb(243, 243, 243);
      border-left-style: solid;
      border-left-width: 16px;
  border-radius: 50%;
  border-top: 16px solid #1c1ce1;
  border-right: 16px solid #1c1ce1;
  border-bottom: 16px solid #1c1ce1;
  border-left: 16px solid #a4aeff;
  width: 120px;
  height: 120px;
  animation: spin 1.4s linear infinite;
  margin: 0 auto;
      margin-bottom: 0px;
  margin-top: 5%;
}

.flexy {
  padding: 10%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
